.border-b-navbar {
    border-bottom: 1px solid #d9d9d9;
    background: #ffffff !important;
}
.inner{
    h1{
        font-size: 40px;
        font-weight: 600;
        line-height: 65px;
        font-family: $font-taviraj;
    }
    h3{
        margin: 0 0 20px;
        font-size: 36px;
        font-weight: 600;
        font-family: $font-taviraj;
    }
    p{
        font-size: 16px;
        letter-spacing: 0.3px;
        line-height: 1.5;
        color: #212121;
    }
    h5{
        letter-spacing: 0;
        font-weight: 700;
        font-family: $font-taviraj;
        line-height: 1.2;

    }
    h6{
        letter-spacing: 0;
        font-weight: 700;
        font-family: $font-taviraj;
        line-height: 1.2; 
    }
    h4{
        font-size: 24px;
        font-weight: 600;
        color: $primary-color;
        font-family: $font-taviraj;
        line-height: 30px;
    }
    strong{
        color: $primary-color;
    }

    table {
        text-align: left;
        position: relative;
        border-collapse: collapse; 
        background-color: #f6f6f6;
        width: 100%;
      }
      td, th {
        border: 1px solid #d9d9d9;
        padding: 20px;
      }
      th {
       

        border-radius: 0;
        position: sticky;
        top: 0;
        padding: 10px;
      }
      
        img.member{
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 50%;
        }
      

      tbody > tr:hover {
        background-color: #d8e3d4;
      }
      figure {
            margin: 0 0 0rem;
        }
      .img-fluid {
        max-width: 100%;
        height: auto;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .card{
        border-radius: 20px;
        overflow: hidden;
        height: 100%;
    }
    .general-member{
        span{
            width: auto;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-color;
            border: 1px solid $primary-color;
            border-radius: 20px;
        }
    }
    .btn-website{
        padding: 5px 15px;
        border: 1px solid $primary-color;
        color: #fff;
        font-weight: 500;
        border-radius: 30px;
        font-size: 14px;
        background-color: $primary-color;
        text-decoration: none;
    }
    .resources-items{
        border-radius: 10px;
        i{
            color: $primary-color;
        }
        a{
            text-decoration: none;
            font-size: 18px;
            color: #212121!important;
        }
    }
    .image-gallery{
        img{
            margin-bottom: 20px;
        }
    }
    .video-gallery{
        a{
            margin-bottom: 20px;
        }
    }
}